@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.me-container {
    width: 100%;
    max-width: 300px; /* Will be AT MOST 320px wide */
    word-wrap: break-word;
    text-size-adjust: auto;
    height: auto;
    margin: 900px auto;
    background-color: rgba(31, 35, 43, 0.9);
    border-left: 2px solid rgba(136, 218, 34, 0.8);
    border-radius: 1px;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    position:relative;
    display:flex;
}

.med-container {
    width: 100%;
    max-width: 300px; /* Will be AT MOST 320px wide */
    word-wrap: break-word;
    text-size-adjust: auto;
    height: auto;
    margin: 900px auto;
    background-color: rgba(31, 35, 43, 0.9);
    border-left: 2px solid rgba(192, 55, 55, 0.8);
    border-radius: 1px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position:relative;
    display:flex;
}

.ool-container {
    width: 100%;
    max-width: 300px; /* Will be AT MOST 320px wide */
    word-wrap: break-word;
    text-size-adjust: auto;
    height: auto;
    margin: 900px auto;
    background-color: rgba(31, 35, 43, 0.9);
    border-left: 2px solid rgba(59, 63, 82, 0.8);
    border-radius: 1px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position:relative;
    display:flex;
}


.icon-container {
    font-size: 16px;
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    color: #1a1c20;
    border-radius: 50%;
    overflow: hidden;
}

.text-container {
    padding: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-family: Gill Sans, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

b {
    font-weight: 700;
}